annotated-types==0.6.0
async-lru==2.0.4
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
dnspython==2.6.1
evdev==1.7.0
filelock==3.13.1
fonttools==4.50.0
fuzzywuzzy==0.18.0
get-video-properties==0.1.1
gitdb==4.0.11
GitPython==3.1.42
idna==3.7
imageio==2.34.0
imageio-ffmpeg==0.4.9
indexed_bzip2==1.6.0
install==1.3.5
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
Levenshtein==0.25.0
linkify-it-py==2.0.3
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdit-py-plugins==0.4.0
mdurl==0.1.2
memray==1.11.0
meson==1.4.0
meson-python==0.15.0
nltk==3.8.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
patchelf==0.17.2.1
pillow==10.2.0
pip-review==1.3.0
pipenv==2023.12.1
platformdirs==4.2.0
plumbum==1.8.2
proglog==0.1.10
PrusaLinkPy==2.1.0
psutil==5.9.8
pulsectl==24.4.0
py-gcode-metadata==0.1.0
pycairo==1.26.0
pyclip==0.7.0
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
pyenchant==3.2.2
Pygments==2.17.2
PyGObject==3.48.1
pymongo==4.6.3
pyparsing==3.1.2
pyperclip==1.8.2
pyproject-metadata==0.7.1
Pyro5==5.15
pyspellchecker==0.8.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.0
pyudev==0.24.1
pyusb==1.2.1
PyYAML==6.0.1
rapidfuzz==3.6.2
regex==2023.12.25
req2flatpak==0.2.0
requests==2.31.0
requirements-parser==0.5.0
rich==13.7.1
rpyc==6.0.0
serpent==1.41
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
speedtest-cli==2.1.3
streamcontroller-plugin-tools==2.0.0
streamdeck==0.9.5
textual==0.52.1
tinycss2==1.2.1
tqdm==4.66.2
types-setuptools==69.2.0.20240317
typing_extensions==4.10.0
uc-micro-py==1.0.3
urllib3==2.2.1
usb-monitor==1.17
virtualenv==20.25.1
webencodings==0.5.1
websocket-client==1.7.0
