annotated-types==0.6.0
async-lru==2.0.4
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
dbus-python==1.3.2
decord==0.6.0
distlib==0.3.8
evdev==1.6.1
filelock==3.13.1
fonttools==4.47.0
fuzzywuzzy==0.18.0
get-video-properties==0.1.1
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
install==1.3.5
kiwisolver==1.4.5
Levenshtein==0.23.0
loguru==0.7.2
matplotlib==3.8.2
numpy==1.26.2
obs-websocket-py==1.0
obsws-python==1.6.2
opencv-python==4.8.1.78
packaging==23.2
Pillow==10.1.0
pip-review==1.3.0
pipenv==2023.11.15
platformdirs==4.1.0
psutil==5.9.7
pulsectl==23.5.2
pycairo==1.25.1
pydantic==2.5.3
pydantic_core==2.14.6
PyGObject==3.46.0
PyGObject-stubs==2.10.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-Levenshtein==0.23.0
pyudev==0.24.1
rapidfuzz==3.6.1
requests==2.31.0
six==1.16.0
smmap==5.0.1
streamdeck==0.9.5
typing_extensions==4.9.0
urllib3==2.1.0
usb-monitor==1.16
virtualenv==20.25.0
websocket-client==1.7.0
