.bold {
  font-weight: bold;
}
.key-image{
  border-radius: 10px;
}
.settings-box{
  background-color: #3A3A3A;
  border-radius: 10px;
}
.page-settings-media-selector{
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}
.red-color{
  color: #C01C28;
}
.icon-selector{
  border-radius: 10px;
  margin: 10px;
  min-width:175px;	
	min-height:175px;
}
.icon-selector-image-normal {
  border-radius: 10px;
  min-width:175px;
  min-height:175px;
  opacity: 1;
  transition: opacity 0.2s;
}
.icon-selector-image-hover {
  border-radius: 10px;
  min-width:175px;
  min-height:175px;
  opacity: 0.25;
  transition: opacity 0.2s;
}
.icon-selector-hint-label-visible {
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.2s;
}
.icon-selector-hint-label-hidden {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}
.no-padding{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.large-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.key-button-frame {
  border-radius:15px;
  border-width: 3px;
  border-color: #78AEED;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 6px;
  transition: border-color 0.25s;
}
.key-button{
  border-radius: 10px;
  min-width:75px;	
	max-width:75px;
	min-height:75px;
	max-height:75px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.key-button-frame-hidden {
  border-radius:15px;
  border-width: 3px;
  border-color: #00000000;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 6px;
  transition: border-color 0.25s;
}
.remove-button {
  background-color: #C01C28;
}
.remove-button:hover {
  opacity: 0.8;
}
.remove-button:active {
  opacity: 0.6;
}
.no-rounded-corners {
  border-radius: 0px;
}
.invisible {
  background-color: #00000000;
}
.blue-background {
  background-color: #78AEED;
}
.dark-blue-background {
  background-color: #3584E4;
}
.add-button {
  background-color: #3584E4;
  transition: background-color 0.25s;
}
.add-button:hover {
  background-color: #5696C8;
  transition: background-color 0.25s;
}
.add-button:active {
  background-color: #78AEED;
  transition: background-color 0.25s;
}
.page-header {
  font-size: 40px;
  font-weight: bold;
}
.remove-action-button {
  background-color: #C01C28;
  min-height: 50px;
}
.blue-toggle-button:checked{
  background-color: #78AEED;
}
.icon-selector-remove-button{
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
}