.bold {
  font-weight: bold;
}
.key-image{
  border-radius: 10px;
}
.settings-box{
  background-color: #3A3A3A;
  border-radius: 10px;
}
.page-settings-media-selector{
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}
.red-color{
  color: #C01C28;
}
.red-background{
  background-color: #C01C28;
}
.icon-selector{
  border-radius: 10px;
  margin: 10px;
  min-width:175px;	
	min-height:175px;
}
.icon-selector-image-normal {
  border-radius: 10px;
  min-width:175px;
  min-height:175px;
  opacity: 1;
  transition: opacity 0.2s;
}
.icon-selector-image-hover {
  border-radius: 10px;
  min-width:175px;
  min-height:175px;
  opacity: 0.25;
  transition: opacity 0.2s;
}
.icon-selector-hint-label-visible {
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.2s;
}
.icon-selector-hint-label-hidden {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}
.no-padding{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.large-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.key-button-frame {
  border-radius:15px;
  border-width: 3px;
  border-color: #78AEED;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 6px;
  transition: border-color 0.25s;
}
.key-button{
  border-radius: 10px;
  min-width:75px;	
	max-width:75px;
	min-height:75px;
	max-height:75px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #363636;
}
.key-button-frame-hidden {
  border-radius:15px;
  border-width: 3px;
  border-color: #00000000;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 6px;
  transition: border-color 0.25s;
}
.remove-button {
  background-color: #C01C28;
}
.remove-button:hover {
  opacity: 0.8;
}
.remove-button:active {
  opacity: 0.6;
}
.no-rounded-corners {
  border-radius: 0px;
}
.invisible {
  background-color: #00000000;
}
.blue-background {
  background-color: #78AEED;
}
.dark-blue-background {
  background-color: #3584E4;
}
.add-button {
  background-color: #3584E4;
  transition: background-color 0.25s;
}
.add-button:hover {
  background-color: #5696C8;
  transition: background-color 0.25s;
}
.add-button:active {
  background-color: #78AEED;
  transition: background-color 0.25s;
}
.page-header {
  font-size: 40px;
  font-weight: bold;
}
.remove-action-button {
  background-color: #C01C28;
  min-height: 50px;
}
.blue-toggle-button:checked{
  background-color: #78AEED;
}
.icon-selector-remove-button{
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
}
.asset-preview{
  background-color: #2f2f2f;
}
.asset-preview:selected{
  background-color: #283C54;
}
.plugin-store-image{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.no-round-bottom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.no-round-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.no-round-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.no-round {
  border-radius: 0px;
}
.no-round-top-left {
  border-top-left-radius: 0px;
}
.no-round-top-right {
  border-top-right-radius: 0px;
}
.no-round-bottom-left {
  border-bottom-left-radius: 0px;
}
.no-round-bottom-right {
  border-bottom-right-radius: 0px;
}
.border-round {
  border-radius: 6px;
}
.round-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.round-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.round-top-left {
  border-top-left-radius: 6px;
}
.round-top-right {
  border-top-right-radius: 6px;
}
.round-bottom-left {
  border-bottom-left-radius: 6px;
}
.round-bottom-right {
  border-bottom-right-radius: 6px;
}
.error {
  background-color: #C01C28;
  transition: background-color 0.25s;
}
.warning-label {
	color: #EA735D;
}
.confirm-button { 
	background-color: #4990E7;
}
.confirm-button-error { 
	background-color: #EA735D;
}

.error-label {
  color: #a5a5a5;
  font-size: 50px;
}

.error-resolve-button {
  background-color: #3584E4;
  font-size: 25px;
  padding: 20px 0px;
  border-radius: 9999px;
  transition: background-color 0.25s;
}

.error-resolve-button:hover {
  background-color: #5695e2;
}

.error-resolve-button:active {
  background-color: #7caae4;
}

.open-store-button {
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #4990E7;
}

.open-store-button:hover {
  background-color: #5695e2;
}

.open-store-button:active {
  background-color: #7caae4;
}

.onboarding-icon {
  min-width: 300px;
  min-height: 300px;
}

.onboarding-welcome-label {
  font-size: 35px;
  font-weight: bold;
}

.onboarding-welcome-detail-label {
  color: #a5a5a5;
  font-size: 20px;
}

.onboarding-nav-button {
  background-color: #3584E4;
  min-width: 40px;
  min-height: 40px;
}

.onboarding-start-button {
  background-color: #3584E4;
  font-size: 25px;
  border-radius: 999px;
}

.reset-button {
  background-color: #C01C28;
  transition: background-color 0.25s;
}
.reset-button:hover {
  background-color: #9b1720;
  transition: background-color 0.25s;
}
.reset-button:active {
  background-color: #f33e4a;
  transition: background-color 0.25s;
}

.button-color {
  background-color: #393939;
}
.action-row-button {
  min-height: 75px;
}