.bold {
  font-weight: bold;
}
.key-button{
  border-radius: 10px;
  margin: 10px;
  min-width:75px;	
	max-width:75px;
	margin-right:10px;
	min-height:75px;
	max-height:75px;
}
.settings-box{
  background-color: #3A3A3A;
  border-radius: 10px;
}