[Desktop Entry]
Type=Application
Name=com.core447.StreamController
Exec=flatpak run --command=/app/bin/launch.sh com.core447.StreamController -b
X-Flatpak=com.core447.StreamController