[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=0.0.2-alpha

# The name of the application
Name=StreamController

# A comment which can/will be used as a tooltip
Comment=StreamController

# The path to the folder in which the executable is run
Path=/

# The executable of the application, possibly with arguments.
Exec=launch.sh

# The name of the icon that will be used to display this entry
Icon=com.core447.StreamController.png

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
Categories=System